.contact {
    min-height: calc(100vh - 3.5rem);
    position: relative;
    padding-top: 3.5rem;
}
.contact .form {
    padding: 1.5rem 1.5rem 0;
}
.contact input {
    width: 100%;
    font-size: 1rem;
    border: .1rem solid #ccc;
    border-radius: .3rem;
    padding: .5rem;
}
.contact textarea {
    width: 100%;
    height: 10rem;
    font-size: 1.1rem;
    border: .1rem solid #ccc;
    border-radius: .3rem;
    padding: .5rem;
    margin: 1rem 0;
}
.contact button {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    background: #555;
    border: none;
    border-radius: .3rem;
    padding: .5rem 1rem;
}