nav {
    width: 100%;
    line-height: 3.5rem;
    top: 0;
    background: #fff;
    box-shadow: 0 .5rem .5rem -.5rem #ddd;
    position: fixed;
    z-index: 1;
}
.i-menu {
    width: 1.2rem;
    height: 1.2rem;
    top: 1.1rem;
    left: 1.5rem;
    position: absolute;
    cursor: pointer;
}
.i-menu span {
    width: 1.2rem;
    height: .15rem;
    top: .52rem;
    background: #000;
    border-radius: .2rem;
    position: absolute;
    margin: 0;
    transition: .3s;
}
.i-menu span::before {
    content: '';
    width: .4rem;
    height: .15rem;
    top: -.5rem;
    background: #000;
    border-radius: .2rem;
    position: absolute;
    transition: .3s;
}
.i-menu span::after {
    content: '';
    width: .8rem;
    height: .15rem;
    top: .5rem;
    background: #000;
    border-radius: .2rem;
    position: absolute;
    transition: .3s;
}
.i-menu .open {
    transform: rotate(-45deg);
}
.i-menu .open::before {
    transform: rotate(90deg) translate(.14rem, -.4rem) scaleX(1.2);
}
.i-menu .open::after {
    transform: rotate(90deg) translate(-.3rem, -.2rem);
}
nav p {
    color: #555;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 4.5rem;
}
nav svg {
    width: 1.3rem;
    top: 1rem;
    right: 1.5rem;
    position: absolute;
}