@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Nunito', sans-serif;
}
input, textarea, select {
    font-family: inherit;
}
input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}